<%- include('templates/header', { user: user }); -%>

<p class="container">Allows you to sort a list of items by comparing items in pairs efficiently!</p>

<%- include('templates/footer', { user: user }); -%>