.comparisons {
	display: grid;
	grid-template-columns: auto auto auto;
}

.comparisons .selected {
	background-color: cyan;
	color: black;
}

.github-corner {
	z-index: 1;
}

.comparisons-list li {
	min-height: 5rem;
}

.comparisons-list li ul {
	padding: 0;
}

.comparisons-list li ul > div {
	text-align: center;
}

[id$="-tab"]:target {
	display: block;
}

[id$="-tab"]:not(:target) {
	display: none;
}
