.navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.comparisons {
	display: grid;
	grid-template-columns: auto auto auto;
}

.comparisons .selected {
	background-color: cyan;
	color: black;
}

.github-corner {
	z-index: 1;
}

.comparisons-list li {
	min-height: 5rem;
}

.comparisons-list li ul {
	padding: 0;
}

.comparisons-list li ul > div {
	text-align: center;
}

[id$="-tab"]:target {
	display: block;
}

[id$="-tab"]:not(:target) {
	display: none;
}

kbd {
	padding: .1875rem .375rem;
	font-size: .875em;
	color: white;
	background-color: black;
	border-radius: .25rem;
}

.alert {
	width: max-content;
	text-decoration: none;
	transition: 1s all;
	transform: translateX(-50%);
}

	.alert:hover {
		color: inherit;
		transform: translateX(-50%) scale(1.1);
	}

#sorting-container {
	padding: 2.5rem;
}

	#sorting-container .card {
		width: max-content;
		margin: auto;
	}

		#sorting-list {
			list-style: none;
			padding: 0;
		}

			#sorting-list li {
				display: inline-block;
			}

				#sorting-list li::before {
					content: "|";
					padding: 0.1rem;
					color: red;
				}

				#sorting-list li[data-sorting="false"]::before {
					color: grey;
				}

				#sorting-list li[data-sorting="true"][data-possible="true"]::before {
					color: green;
				}

			#sorting-list li[data-sorting="true"][data-comparing="true"] {
				color: yellow;
			}

				#sorting-list li[data-sorting="true"][data-selected="true"]::before {
					color: yellow;
				}

.item-name-wrapper {
	position: relative;
	padding: 2rem 0;
}

.item-name-wrapper > div {
	position: absolute;
	top: 0;
	right: 0;
	text-align: end;
}

.item-name-wrapper > div > button {
	padding: 0 .1rem;
}