<%- include('../templates/header', { user }); -%>

<%- include('templates/title', { list }); -%>

<form method="POST">
	<label for="name" class="form-label">New Name</label>
	<input type="text" class="form-control" id="name" name="name" required>
	<button class="btn btn-primary">Rename</button>
</form>

<%- include('../templates/footer', { user }); -%>